<footer class="pink darken-4 section  pink-text text-lighten-5">
    <div class="row container ">
        <p class="col s12 l4">By submitting this assignment I declare that this assignment is my own work in accordance
            with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically from
            any other source (including web sites) or distributed to other students.
        </p>
        <div class="collection col s12 l4" style="border: none; margin-top:0;">
            <h6 style="margin-top: 0;" class="bottom-margin-1">Site Links:</h6>
            <a href="/" class="collection-item pink-text text-darken-4">Home</a>
            <a href="/rentals" class="collection-item pink-text text-darken-4">Rentals</a>
            <a href="/sign-up" class="collection-item pink-text text-darken-4">Sign-up</a>
            <a href="/log-in" class="collection-item pink-text text-darken-4">Log-in</a>
        </div>
        <div class="col s12 l4">
            <h6 style="margin-top: 0;">Social Links:</h6>
            <ul>
                <li>
                    <a href="https://www.facebook.com" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://www.github.com" target="_blank">Github</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p> © Gagandeep Kaur, gkaur515@myseneca.ca, WEB322 Winter 2023</p>
    </div>
</footer>