<nav class="grey lighten-4 ">
    <div class="container">
        <div class="nav-wrapper ">
            <div class="brand-logo valign-wrapper">
                <a href="#">
                    <img src="/img/logo.png" width="23%" alt="Logo homely">
                </a>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="pink-text text-darken-4" href="/">Home</a></li>
                <li><a class="pink-text text-darken-4" href="/rentals">Rentals</a></li>
                <li><a class="pink-text text-darken-4" href="/sign-up">Sign-up</a></li>
                <li><a class="pink-text text-darken-4" href="/log-in">Log-in</a></li>
            </ul>
        </div>
    </div>
</nav>