<div class="container section top-margin bottom-margin">
  <h4>Welcome Back</h4>
  <p>Login to your accont.</p>
  <div class="row">
    <form class="col s12 l6 top-margin" action="/log-in" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="text" value="{{values.email}}">
          <label for="email">Email</label>
          <span class="helper-text {{#if errors.email}}red-text text-darken-4{{/if}}">Please enter a valid email</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="pwd" type="password" value="{{values.pwd}}">
          <label for="password">Password</label>
          <span class="helper-text {{#if errors.pwd}}red-text text-darken-4{{/if}}">Please enter a valid password</span>
        </div>
      </div>
      <div class="row">
        <input class="btn pink darken-4" style="color: white !important;" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

